./SteeringCS - Restaurant/SteeringCS/bin/*
./SteeringCS - Restaurant/SteeringCS/obj/*
./SteeringCS - Restaurant/SteeringCS/App.config
./SteeringCS - Restaurant/SteeringCS/SteeringCS.csproj
./SteeringCS - Restaurant/SteeringCS/SteeringCS.csproj.user
./idea/*
